# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Chroma
data/vectordb/

# Logs
*.log

# OS
.DS_Store
Thumbs.db